body{
    background-image: url("../Imagens/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.estilo{
    text-align: center;
    color: antiquewhite;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: antiquewhite;

}

h1{
    font-family: 'Rockwell';
    font-size: 44pt;
    padding: 30px;
}

table{
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    border-width: 15px;
    border-color: black;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
}

td{
    padding: 50px;
    width: 50%;
    vertical-align: middle;
    font-family: 'Gill Sans MT';
}

p{
    font-size: x-large;
    font-family: 'Gill Sans MT';
}

#imagem{
    width: 350px;
    border-radius: 50%;
}

ul{
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li{
    padding-bottom: 15px;
    font-size: x-large;
}

a:link{
    color: antiquewhite;
}

a:visited{
    color: bisque;
}

a:hover{
    color: aliceblue;
}

.linguagem-logo{
    width: 20%;
}

.logo{
    width: 10%;
    padding-bottom: 50px;
}

.inline{
    display: inline;
    padding: 5%;
}

@media screen and (max-width:1000px){    
    td{
        width: 100%;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
    }

    h1{
        font-size: 30pt;
    }

    #imagem{
        width: 250px;
    }
}